<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function loadXMLDoc(filename) {
            if (window.ActiveXObject) {
                xhttp = new ActiveXObject("Msxml2.XMLHTTP");
            } else {
                xhttp = new XMLHttpRequest();
            }
            xhttp.open("GET", filename, false);
            try {xhttp.responseType = "msxml-document"} catch(err) {} // Helping IE11
            xhttp.send("");
            return xhttp.responseXML;
        }
    </script>
</head>
<body>

</body>
</html>